@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body{
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
}
/* td {
    border: 1px solid #333;
} */

.post_headingBtn{
    margin: 2.5rem 0 1rem 0;
}
.post_heading{
    font-size: 4rem;
}


