{% extends 'base.html' %}

{% block head %}
<title>Edit Posts</title>
{% endblock %}



{% block body %}
<h1 style="margin-top: 3rem;">Edit Post: <span class="shadow-lg mb-5 rounded badge bg-warning text-wrap">{{post.title}}</span></h1>

<!-- <hr> -->
<!-- <h2>Edit Below:</h2> -->
<form class="row g-3" action="/posts/edit/{{post.id}}" method="POST">

    <div class="col-sm-9">
        <label class="form-label">Title:</label><br>
        <input class="form-control" type="text" name="title" id="title" value="{{post.title}}">
    </div>

    <div class="col-sm">
        <label class="form-label">Author:</label><br>
        <input class="form-control" type="text" name="author" id="author" value="{{post.author}}">
    </div>
    
    <div class="col-sm-12">
        <label class="form-label">Posts:</label><br>
        <textarea class="form-control" name="content" id="content" rows="4" >{{ post.content }}</textarea>
    </div>

    <div style="margin-top: 3rem;">
        <input class="btn btn-success col-sm-12 shadow-lg mb-5 rounded" type="submit" value="Save">
    </div>
</form>



{% endblock %}