{% extends 'base.html' %}

{% block head %}
<title>No nAme :)</title>
{% endblock %}



{% block body %}
<!-- <div class="container">
    <h1>Home Page</h1> -->

    
    <!-- <table>
        
        <tr>
            <th>Task</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>


        {% for task in tasks %}
        <tr>
            <td>{{ task.content }}</td>
            <td>{{ task.date_created.date() }}</td>
            <td>
                <a href="">Delete</a>
                <br>
                <a href="">Update</a>
            </td>
        </tr>
        {% endfor %}
    </table>
        <form action="/" method="POST"></form>
            <input type="text" name="content" id="content">
            <input type="submit" value="Add Task"> -->
<!-- </div> -->

<main style="width: 100%;">
  <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
    <div class="col-md-5 p-lg-5 mx-auto my-5">
      <h1 class="display-4 fw-normal">Punny headline</h1>
      <p class="lead fw-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple’s marketing pages.</p>
      <a class="btn btn-outline-secondary" href="#">Coming soon</a>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>


</main>
{% endblock %}