{% extends 'base.html' %} {% block head %}
<title>Posts</title>
{% endblock %} {% block body %}
<!-- <h1>All Quotes</h1> -->
<div class="row" style="margin-top: 3rem">
    <div class="col-3">
        <div class="card border-primary" style="max-width: 18rem">
            <div class="card-header">Error Control Mechanisms ( CRC )</div>
            <div class="card-body">

                <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">OPEN</button>


                <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
                    id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Error Control Mechanisms ( CRC )</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                            aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <code><p><pre>#include"stdio.h"
#include"conio.h"
//C Program: Cyclic Redundancy Check - CodeWithC.com
void main()
{
int i,f[20],n[50],div[50],j,temp,quotient[20],z[10];
clrscr();
printf("enter the number\n");
for(i=0;i<8;i++) {
    scanf("%d",&n[i]);
    }
printf("enter the divisor\n");
for(i=0;i<4;i++)
{
scanf("%d",&div[i]);
}
for(i=8;i<12;i++)
{
n[i]=0;
}
for(i=0;i<8;i++)
{
temp=i;
if(n[i]==1)
{
for (j=0;j<4;j++)
{
if (n[temp]==div[j])
{n[temp]=0;
f[j]=0;}
else
{n[temp]=1;
f[j]=1;}
temp=temp+1;

}
quotient[i]=1;
}
else
quotient[i]=0;
}
printf("\nthe quotient is \n");
for(i=0;i<8;i++)
printf("%d",quotient[i]);

printf("\n and the remainder is \n ");

for(j=0;j<4;j++)
printf("%d",f[j]);

getch();
}</pre></p></code>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-3">
        <div class="card border-warning" style="max-width: 18rem">
            <div class="card-header">Flow Control Mechanisms</div>
            <div class="card-body">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    OPEN
                </button>

                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">Flow Control Mechanisms</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h3>StopnWait.c</h3>
                                <code><p><pre>
            #include"stdio.h"
int main()
{
int framesize,sent=0,ack,i;
printf("enter number of frames\n");
scanf("%d",&framesize);
while(1)
{
for(i=0;i<framesize;i++)
{
printf("frame %d has been transmitted.\n",sent);
sent++;
if(sent==framesize)
break;
}
printf("\n please enter the last acknowledgement received.\n");
scanf("%d",&ack);
if(ack>=framesize)
break;
else
sent=ack;
}
return 0;
}
        </pre></p></code>
                                <hr>
                                <h3>Sliding Window</h3>
                                <code><p><pre>
            #include"stdio.h"
int main()
{
	int w,i,f,frames[50];
	printf("Enter window size");
	scanf("%d",&w);
	printf("\n Enter number of frames to transmit");
	scanf("%d",&f);
	printf("\n Enter %d frames:",f);
	for(i=1;i<=f;i++)
	scanf("%d",&frames[i]);
	printf("\n with sliding window protocol the frames will be sent in the following manner(assuming corruption of the frame)\n\n");
	printf("after sending %d frames at each stage sender waits for acknowledgement sent by the receiver \n\n",w);
	for(i=1;i<=f;i++)
	{
		if(i%w==0)
		{
			printf("%d\n",frames[i]);
			printf("acknowledgement of above frames sent is received by sender \n\n");
		}
		else
		{
			printf("%d\n",frames[i]);
		}
		
	}
	if(f%w!=0)
	printf("\n acknowledgement of above frames sent is received by sender\n");
	return 0;
}
        </pre></p></code>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="card border-primary" style="max-width: 18rem">
            <div class="card-header">UDP client-server bidirectional without thread</div>
            <div class="card-body">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop1">
                    OPEN
                </button>
                <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel">UDP client-server bidirectional without
                                    thread</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h3>Client</h3>
                                <code><p><pre>
            import java.io.*;
import java.net.*;
public class Client {
    public static void main(String[] args) throws SocketException, IOException {
      //create a bufferedreader object for keyboard input by the user
      BufferedReader clientRead =new BufferedReader(new InputStreamReader(System.in));

      //get the address of host to send
      InetAddress IP = InetAddress.getByName("127.0.0.1");

      //create datagram client socket      
      DatagramSocket clientSocket = new DatagramSocket();

      while(true)    //true
      {
      //create two byte object for receiving and sending msg
      byte[] sendbuffer = new byte[1024];
      byte[] receivebuffer = new byte[1024];
      
      //client caption showing for type the user message
      System.out.print("\nClient: ");
      String clientData = clientRead.readLine();
      
      //typecasting into bytes the user message 
      sendbuffer = clientData.getBytes();  

      //create a datagram packet to send      
      DatagramPacket sendPacket =new DatagramPacket(sendbuffer, sendbuffer.length, IP, 9876);
      
      //send the datagram packet through socket to the server
      clientSocket.send(sendPacket);

      if(clientData.equalsIgnoreCase("bye"))
      {
          System.out.println("Connection ended by client");
          break;
      }
      
      //create the datagram packet for incoming message of client
      DatagramPacket receivePacket =new DatagramPacket(receivebuffer, receivebuffer.length);
      
      //receive the message from socket
      clientSocket.receive(receivePacket);
      
      //converted the message into string
      String serverData = new String(receivePacket.getData());
      
      //print the converted message by captionning server due to message is coming from the server
      System.out.print("\nServer: " + serverData);
      
      }
      //close the connection
      clientSocket.close();
    }
    
}
        </pre></p></code>
                                <hr>
                                <h3>Server</h3>
                                <code><p><pre>
import java.io.*;
import java.net.*;


public class Server {

   
    public static void main(String[] args) throws SocketException, IOException {
        
         DatagramSocket serverSocket = new DatagramSocket(9876);
         boolean bye=false;

      while(true) 
        {
          byte[] receivebuffer = new byte[1024];
          byte[] sendbuffer  = new byte[1024];

          DatagramPacket recvdpkt = new DatagramPacket(receivebuffer, receivebuffer.length);
          serverSocket.receive(recvdpkt);
          
          //get the ip address and port no for client
          InetAddress IP = recvdpkt.getAddress();
          int portno = recvdpkt.getPort();

          //receive client message converted into string
          String clientdata = new String(recvdpkt.getData());

          //print the client message
          System.out.println("\nClient : "+ clientdata);
          
          //printing the caption of server for type the message
          System.out.print("\nServer : ");
          
          //create a buffer for keyboard input from user
          BufferedReader serverRead = new BufferedReader(new InputStreamReader (System.in) );
          String serverdata = serverRead.readLine();
          
          //typecasting the user message into bytes
          sendbuffer = serverdata.getBytes();
          
          //create a datagram and send the message to client 
          DatagramPacket sendPacket = new DatagramPacket(sendbuffer, sendbuffer.length, IP,portno);
          serverSocket.send(sendPacket); 
         
          if(serverdata.equalsIgnoreCase("bye"))
          {
              System.out.println("connection ended by server");
              break;
          }
          
          
      }
        //close the connection
        serverSocket.close();
    }
            
    }
            </pre></p></code>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-3">
        <div class="card border-primary" style="max-width: 18rem">
            <div class="card-header">UDP Server and Client Program</div>
            <div class="card-body">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop2">
                    OPEN
                </button>
                <div class="modal fade" id="staticBackdrop2" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="staticBackdropLabel"></h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h3>UDPServer.java</h3>
                                <code><p><pre>
                import java.net.*;
import java.io.*;

class Udpserver
{
public static void main(String args[]) throws Exception
{
DatagramSocket ds=new DatagramSocket(2000);

byte[] b=new byte[100];


DatagramPacket dp=new DatagramPacket(b,b.length);

ds.receive(dp);

String str=new String(b);

System.out.println("Received --->"+str);
}
}
                </pre></p></code>
                                <hr>
                                <h3>UDPClient.java</h3>
                                <code><p><pre>
                    import java.net.*;
import java.io.*;

class Udpclient
{
public static void main(String args[]) throws Exception
{
DatagramSocket ds=new DatagramSocket();

byte[] b="This is udp client".getBytes();
int port=2000;
InetAddress ip=InetAddress.getByName("localhost");

DatagramPacket dp=new DatagramPacket(b,b.length,ip,port);
ds.send(dp);
}
}
                </pre></p></code>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-3">
        <div class="card border-primary" style="max-width: 18rem">
            <div class="card-header">TCP Socket Programming</div>
            <div class="card-body">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop4">
                    OPEN</button>

                <div class="modal fade" id="staticBackdrop4" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h3>echoserver</h3>
                                <code><p><pre>
            //Server that echoes back client's messages.
//At end of dialogue, sends message indicating
//number of messages received. Uses TCP.
import java.io.*;
import java.net.*;
import java.util.*;
public class TCPEchoServer
{
private static ServerSocket serverSocket;
private static final int PORT = 1234;
public static void main(String[] args)
{
System.out.println("Opening port...\n");
try
{
serverSocket = new ServerSocket(PORT); //Step 1.
}
catch(IOException ioEx)
{
System.out.println("Unable to attach to port!");
System.exit(1);
}
do
{
handleClient();
}while (true);
}
private static void handleClient()
{
Socket link = null; //Step 2.
try
{
link = serverSocket.accept(); //Step 2.
Scanner input =new Scanner(link.getInputStream()); //Step 3.
PrintWriter output =new PrintWriter(link.getOutputStream(),true);
//Step 3.
int numMessages = 0;
String message = input.nextLine(); //Step 4.
while (!message.equals("***CLOSE***"))
{
System.out.println("Message received.");
numMessages++;
output.println("Message " + numMessages + ": " + message); //Step 4.
message = input.nextLine();
}
output.println(numMessages + " messages received."); //Step 4.
}
catch(IOException ioEx)
{
ioEx.printStackTrace();
}
finally
{
try
{

System.out.println("\n* Closing connection... *");
link.close(); //Step 5.
}
catch(IOException ioEx)
{
System.out.println("Unable to disconnect!");
System.exit(1);
}
}
}
}
        </pre></p></code>
                                <hr>
                                <h3>echoClient</h3>
                                <code><p><pre>
            import java.io.*;
import java.net.*;
import java.util.*;
public class TCPEchoClient
{
private static InetAddress host;
private static final int PORT = 1234;
public static void main(String[] args)
{
try
{
host = InetAddress.getLocalHost();
}
catch(UnknownHostException uhEx)
{
System.out.println("Host ID not found!");
System.exit(1);
}
accessServer();
}

private static void accessServer()
{
Socket link = null; //Step 1.
try
{
link = new Socket(host,PORT); //Step 1.
Scanner input =new Scanner(link.getInputStream());//Step 2.
PrintWriter output =new PrintWriter(link.getOutputStream(),true);
//Step 2.
//Set up stream for keyboard entry...
Scanner userEntry = new Scanner(System.in);
String message, response;
do
{
System.out.print("Enter message: ");
message = userEntry.nextLine();
output.println(message); //Step 3.
response = input.nextLine(); //Step 3.
System.out.println("\nSERVER> "+response);
}while (!message.equals("***CLOSE***"));
}
catch(IOException ioEx)
{
ioEx.printStackTrace();
}
finally
{
try
{
System.out.println("\n* Closing connection... *");
link.close(); //Step 4.
}
catch(IOException ioEx)

{
System.out.println(
"Unable to disconnect!");
System.exit(1);
}
}
}
}
        </pre></p></code>
                                <hr>
                                <h3>multiserver</h3>
                                <code><p><pre>
            import java.io.*;
import java.net.*;
public class MultiServer
{
public static void main(String[] args) throws Exception
{
ServerSocket sersock = new ServerSocket(3000);
System.out.println("Server Ready !!");
Socket sock = sersock.accept( );
// reading from keyboard (keyRead
object)
BufferedReader keyRead = new BufferedReader(new
InputStreamReader(System.in));

// sending to client (pwrite object)

OutputStream ostream = sock.getOutputStream();
PrintWriter pwrite = new PrintWriter(ostream, true);
// receiving from server ( receiveRead
object)
InputStream istream = sock.getInputStream();
BufferedReader receiveRead = new BufferedReader(new
InputStreamReader(istream));
String receiveMessage, sendMessage;
while(true)
{
if((receiveMessage = receiveRead.readLine()) != null)
{
System.out.println(receiveMessage);
}
sendMessage = keyRead.readLine();
pwrite.println(sendMessage);
pwrite.flush();
}
}
}
        </pre></p></code>
                                <hr>
                                <h3>multiClient</h3>
                                <code><p><pre>
            import java.io.*;
import java.net.*;
public class MultiClient
{
public static void main(String[] args) throws Exception
{
Socket sock = new Socket("127.0.0.1", 3000);
// reading from keyboard (keyRead
object)
BufferedReader keyRead = new BufferedReader(new
InputStreamReader(System.in));
// sending to server (pwrite object)
OutputStream ostream = sock.getOutputStream();
PrintWriter pwrite = new PrintWriter(ostream, true);
// receiving from server ( receiveRead
object)
InputStream istream = sock.getInputStream();
BufferedReader receiveRead = new BufferedReader(new
InputStreamReader(istream));
System.out.println("Start the Chat, type and press Enter key");
String receiveMessage, sendMessage;
while(true)
{
sendMessage = keyRead.readLine(); // keyboard reading
pwrite.println(sendMessage); // sending to server
pwrite.flush(); // flush the data
if((receiveMessage = receiveRead.readLine()) != null)
//receive from server
{
System.out.println(receiveMessage); // displaying at DOS
prompt
}
}
}
}
        </pre></p></code>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Understood</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-3">
        <div class="card border-primary" style="max-width: 18rem">
            <div class="card-header">UDP Echo-server client with thread and without using thread</div>
            <div class="card-body">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop5">
                    OPEN
                </button>

                <div class="modal fade" id="staticBackdrop5" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <h3>udp echo server</h3>
                                <code><p><pre>
import java.io.*;
import java.net.*;
public class UDPEchoServer extends UDPServer 
{
public final static int DEFAULT_PORT = 7;
public UDPEchoServer() 
{
super(DEFAULT_PORT);
}
@Override
public void respond(DatagramSocket socket, DatagramPacket packet)
throws IOException {
DatagramPacket outgoing = new DatagramPacket(packet.getData(),packet.getLength(), packet.getAddress(), packet.getPort());
socket.send(outgoing);
}
public static void main(String[] args) {
UDPServer server = new UDPEchoServer();
Thread t = new Thread(server);
t.start();
}
}
        </pre></p></code>
                                <hr>

                                <h3>udp echo client</h3>
                                <code><p><pre>
import java.net.*;
public class UDPEchoClient {
public final static int PORT = 7;
public static void main(String[] args) {
String hostname = "localhost";
if (args.length > 0) {
hostname = args[0];
}
try {
InetAddress ia = InetAddress.getByName(hostname);
DatagramSocket socket = new DatagramSocket();
SenderThread sender = new SenderThread(socket, ia, PORT);
sender.start();

Thread receiver = new ReceiverThread(socket);
receiver.start();
} 

catch (UnknownHostException ex) 
{
System.err.println(ex);
} 

catch (SocketException ex) 
{
System.err.println(ex);
}
}
}
        </pre></p></code>
                                <hr>

                                <h3>senderThread</h3>
                                <code><p><pre>
import java.io.*;
import java.net.*;
class SenderThread extends Thread {
private InetAddress server;
private DatagramSocket socket;
private int port;
private volatile boolean stopped = false;
SenderThread(DatagramSocket socket, InetAddress address, int port) {
this.server = address;
this.port = port;
this.socket = socket;
this.socket.connect(server, port);
}
public void halt() {
this.stopped = true;
}
@Override
public void run() {
try {
BufferedReader userInput
= new BufferedReader(new InputStreamReader(System.in));
while (true) {
if (stopped) return;
String theLine = userInput.readLine();
if (theLine.equals(".")) break;
byte[] data = theLine.getBytes("UTF-8");
DatagramPacket output
= new DatagramPacket(data, data.length, server, port);
socket.send(output);
Thread.yield();
}
} catch (IOException ex) {
System.err.println(ex);
}
}
}
        </pre></p></code>
                                <hr>
                                <h3>receiverThread</h3>
                                <code><p><pre>
import java.io.*;
import java.net.*;
class ReceiverThread extends Thread 
{
private DatagramSocket socket;
private volatile boolean stopped = false;
ReceiverThread(DatagramSocket socket) {
this.socket = socket;
}
public void halt() {
this.stopped = true;
}
@Override
public void run() {
byte[] buffer = new byte[65507];
while (true) {
if (stopped) return;
DatagramPacket dp = new DatagramPacket(buffer, buffer.length);
try {
socket.receive(dp);
String s = new String(dp.getData(), 0, dp.getLength(), "UTF-8");
System.out.println(s);
Thread.yield();
} catch (IOException ex) {
System.err.println(ex);
}
}
}
}
        </pre></p></code>
                                <hr>
                                <h3>udp server</h3>
                                <code><p><pre>
            import java.io.*;
import java.net.*;
import java.util.logging.*;
public abstract class UDPServer implements Runnable 
{
private final int bufferSize; // in bytes
private final int port;
private final Logger logger = Logger.getLogger(UDPServer.class.getCanonicalName());
private volatile boolean isShutDown = false;

public UDPServer(int port, int bufferSize) 
{
this.bufferSize = bufferSize;
this.port = port;
}
public UDPServer(int port) {
this(port, 8192);
}

@Override

public void run() 
{
byte[] buffer = new byte[bufferSize];
try (DatagramSocket socket = new DatagramSocket(port)) {
socket.setSoTimeout(10000); // check every 10 seconds for shutdown
while (true) {
if (isShutDown) return;
DatagramPacket incoming = new DatagramPacket(buffer, buffer.length);
try {
socket.receive(incoming);
this.respond(socket, incoming);
} catch (SocketTimeoutException ex) {
if (isShutDown) return;
} catch (IOException ex) {
logger.log(Level.WARNING, ex.getMessage(), ex);
}
} // end while
} catch (SocketException ex) {
logger.log(Level.SEVERE, "Could not bind to port: " + port, ex);
}
}
public abstract void respond(DatagramSocket socket, DatagramPacket request)

throws IOException;
public void shutDown() {
this.isShutDown = true;
}
}
        </pre></p></code>
                                <hr>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="post_headingBtn" style="margin-top: 3rem">
        <h2 class="post_heading" style="display: inline">
            Customized cOdes<sub>by</sub> Hoomans!!
        </h2>
        <a style="display: inline" class="btn btn-outline-info float-end" href="/posts/new"><i class="bi bi-pen"></i>
            Customized Code POST</a>
    </div>
    <hr />

    {% for post in posts %}
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-body">
                    <h2>{{ post.title }}</h2>

                    {% if post.author %}
                    <small>Written By: <b><i>{{ post.author }}</i></b> on {{ post.date_posted }}</small>
                    {% else %}
                    <small>By: N/A</small>
                    {% endif %}

                    <p style="white-space: pre-wrap">{{ post.content }}</p>
                    <a class="btn btn-outline-danger btn-sm" href="/posts/delete/{{post.id}}">Delete</a>
                    <a class="btn btn-primary btn-sm" href="/posts/edit/{{post.id}}">Edit</a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %} {% endblock %}